:root {
    /* -- Backgrounds -- */
    --color-bg-primary: #1c1c1e;
    --color-bg-secondary: #2c2c2e;
    --color-bg-tertiary: #3a3a3c;

    /* -- Text -- */
    --color-text-primary: #f2f2f7;
    --color-text-secondary: #a9a9b3;
    --color-text-tertiary: #6e6e73;
    --color-text-dark: var(--color-bg-primary);

    /* -- Accents (Warm Analogous) -- */
    --color-accent-primary: color-mix(in srgb, #DAB46E, transparent 30%);
    --color-accent-primary-hover: color-mix(in srgb, var(--color-accent-primary), transparent 40%);
    --color-accent-secondary: #DAB46E;

    /* -- UI & State Colors -- */
    --color-accent-shadow: rgba(230, 126, 34, 0.3);
    --color-success: #27ae60;
    --color-danger: color-mix(in srgb, #c0392b, transparent 80%);
    --color-danger-dark: #a93226;

    /* -- Misc -- */
    --color-recommended-background: color-mix(in srgb, var(--color-accent-secondary), transparent 50%);
    --color-silver: silver;
    --color-black-transparent: rgba(0, 0, 0, 0.6);
    --color-white-transparent: rgba(255, 255, 255, 0.5);

    /* curtains */
    --color-curtain-base: #850000;
}

:root[data-theme='fairytale'] {
    --color-royal-purple: #4b0082;
    --color-bg-primary: #1a1a1a;
    --color-bg-secondary: #a9a9b3;
}
