a.linkBtn{
    display: inline-block;
    text-decoration: none;
    color: var(--color-text-primary);
    padding: 1rem 2rem;
    background-color: var(--color-accent-primary);
    border-radius: 8px;
    transition: all .3s ease-in-out;
}

.linkBtn:hover {
    color: var(--color-text-primary);
    background-color: var(--color-accent-primary-hover);
    box-shadow: 2px 2px 4px 0 var(--color-accent-shadow);
}

.linkBtn:active {
    background-color: var(--color-accent-primary-hover);
    box-shadow: inset 2px 2px 4px 0 color-mix(in srgb,var(--color-accent-primary), transparent 10%);
}