* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  background-color: #101212;
  color: #dfe0e2;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header h1 {
  margin: 0;
}

header {
  padding-bottom: 0.2rem;
  background-color: black;
  width: 100%;
  height: 100px;

  #headerLogo {
    width: 200px;
  }
}

.flexRowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  margin: auto 0 1rem;
  ul.nav {
    text-align: right;

    a {
      color: gray;
      margin-right: 1rem;
      padding: 0.5rem 0.5rem;
      transition: all 0.1s ease-in-out;
      transform: all 0.1s ease-in-out;

      &.active {
        border-bottom: 0.3rem solid white;
        color: white;
      }

      &:hover {
        border-bottom: 0.1rem solid whitesmoke;
        padding-bottom: 0.3rem;
      }
    }

    li {
      display: inline;
      vertical-align: middle;
      font-size: medium;
      line-height: normal;
    }
  }
}

ul.nav {
  padding: 0;
  width: fit-content;

  a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0.2rem 0.2rem;
    text-transform: uppercase;

    &:hover {
      color: whitesmoke;
    }
  }

  li {
    list-style: none;
    font-size: smaller;
    line-height: 0.5rem;
  }
}

input[type="search"] {
  background-color: #cdcdcd;
  border: 0.2rem solid rgb(54, 54, 54);
  border-radius: 10rem;
  padding: 0.5rem 0.8rem;
  height: fit-content;
}

input[type="search"]::placeholder {
  color: #101212;
}

/* todo: edit highlight when selected/typing here */
/* input[type="search"] {} */

.ctx {
  width: 85vw;
  height: 100%;
  margin: 0 auto;
}

.centerCt {
  margin: 1rem 0;
}

.bookList {
  display: flex;
  .bookSlot {
    margin: 10px;
  }
}

.bookList:has(.book.open) .book:not(.open):not(.closing) {
  pointer-events: none;
}

footer {
  margin-top: auto;
  padding-bottom: 0.5rem;

  #footerLogo {
    width: 150px;
    height: auto;
  }

  .copyRight {
    text-align: center;
    font-size: small;
    margin-top: -1rem;
  }
}
