@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import "./components/curtains.css";

html[data-theme="fairytale"],
html[data-theme="fairytale"] body {
    scrollbar-width: none;
}

html[data-theme="fairytale"]::-webkit-scrollbar,
html[data-theme="fairytale"] body::-webkit-scrollbar {
    display: none;
}

[data-theme="fairytale"] {

    .fairytale-container {
        height: 25000px;
        font-size: 1.2rem;
    }

    .parallax-lock {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    p, h1, h2, h3, h4 {
        text-align: center;
    }

    h1, h3 {
        font-family: "Eagle Lake", sans-serif;
    }

    .landing {
        position: absolute;
        z-index: 6;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        overflow: hidden;

        h1, h2 {
            margin: 0 auto;
            text-shadow: 0 0 8px var(--color-bg-secondary),
            0 0 20px rgba(218, 180, 110, 0.4);
            font-size: xx-large;
        }
    }

    .title {
        width: 100%;
        margin: auto 0;
        color: var(--color-black-transparent);
    }

    .btn {
        z-index: 10;
        width: 2rem;
        aspect-ratio: 1/1;
        padding: .2rem;
        cursor: pointer;
        background-color: var(--color-bg-primary);
        transition: background-color 0.4s;
        color: var(--color-text-primary);
        border-color: var(--color-black-transparent);
    }

    .btn:hover {
        background-color: color-mix(in srgb, var(--color-bg-primary), var(--color-bg-secondary) 20%);
        box-shadow: none;
    }

    .homeBtn {
        position: fixed;
        display: flex;
        top: 1.5rem;
        left: 2.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

    }

    .actionBtns {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        gap: .5rem;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }

    .autoscrollBtn.active {
        background-color: var(--color-success);
    }

    .muteBtn{
        background-image: url("/static/speakerIcon.svg");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
        span{
            position: absolute;
            transform: translate(-50%, -60%);
            color: var(--color-danger);
            font-size: x-large;
            font-weight: bold;
        }
    }

    .layer {
        position: absolute;
    }

    .txt {
        z-index: 10;
        text-align: center;
        width: fit-content;
        padding: 1rem 0;
        border-radius: 8px;
        text-shadow: 1px 1px 4px black,
        -1px -1px 1px var(--color-bg-primary);
        pointer-events: none;
        margin-bottom: 1rem;
    }

    .txtLeft {
        text-align: right !important;
    }

    .xxlTxt {
        font-size: 3rem;
    }

    .topL {
        z-index: 3;
    }

    .middleL {
        z-index: 2;
    }

    .backL {
        z-index: 1;
    }

    .intro {
        color: #4BD5EE;
    }

    .introTitle {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: goldenrod;
    }

    .fTonText {
        color: goldenrod;
        text-align: justify !important;
        text-align-last: left;
        text-justify: inter-word;
        max-width: 32ch;
    }

    .millerScene {
        height: 100vh;
        width: 100vw;
    }

    .miller {
        top: 30dvh;
        left: 40dvw;
        z-index: 8;
        .body {
            height: 400px;
            position: absolute;
        }

        .arm {
            height: 140px;
            position: absolute;
            top: 36px;
            left: 154px;
            transform-origin: left center;
            animation: wave 2.5s infinite alternate ease-in-out;
        }
    }

    .speech-bubble {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: -140px;
        left: 0%;
        transform: translateX(-50%);
        background-color: whitesmoke;
        color: black;
        padding: 10px 15px;
        border-radius: 15px;
        width: fit-content;
        text-align: center;
        font-size: 14px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    .speech-bubble::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 42%;
        transform: translateX(-50%);
        border-width: 10px 10px 0;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

    .rumpelImg{
        height: 250px;
        width: auto;
        position: absolute;
        transform-origin: left bottom;

        &.dancing{
            animation: dancing 3s infinite alternate ease-in-out;
        }
    }

    .dimmed{
        opacity: 0.6;
    }

    .heartEyes{
        display: flex;
        flex-direction: row;
        gap: 8px;

        & span{
            animation: eyes .9s infinite alternate ease-in-out, scaleEyes .4s infinite alternate ease-in-out;
        }

        & span:last-child{
            animation-delay: .3s;
        }
    }
}

@keyframes wave {
    from {
        transform: rotate(-5deg)
    }
    to {
        transform: rotate(10deg)
    }
}

@keyframes eyes{
    from{
        transform: rotate(-20deg);
    }
    to{
        transform: rotate(20deg);
    }
}

@keyframes scaleEyes {
    from{
        scale: .8;
    }
    to{
        scale: 1.2;
    }
}

@keyframes dancing {
    0% {
        transform: translate(0, 0) rotate(0deg) ;
    }
    50% {
        transform: translate(15px, -10px) rotate(5deg);
    }
    100% {
        transform: translate(-15px, 0px) rotate(-5deg);
    }
}