body {
	margin: 0 2rem;
	background-color: grey;
	color: white;
}
nav {
	ul {
		padding: 0;
		text-align: right;
		li {
			display: inline;
			list-style: none;
			padding: 0.5rem 1rem;
			margin: 0 0.5rem;
			background-color: darkred;
			color: whitesmoke;
		}
	}
}
